*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

main{
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 10em;
    gap: 2em;
}

.forma{
    width: 30em;
}

@media (max-width: 600px){
    main{
        grid-template-columns: 1fr;
        margin-left: 5em;
    }

    .forma{
        width: 20em;
    }
}